page-configure {

  .icon-large {
    font-size: 2em;
  }

  .bar-button-md {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
  }

  .bar-button-ios {
    padding: 0 5px !important;
  }

}
